
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    line-height: 75px;
    font-size: 50px;
    box-shadow: 0 0 0 2px;
    margin: auto;
    cursor: pointer;
    
}
#gameContainer{
    font-family: Playfair,monospace;
    text-align: center;
    box-shadow: 10px  15px 30px 20px black;
    
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(5, auto);
     width: 225px;
   
    
    
}
#timeDisplay{
    font-size: 30px;
    color: #CBCE91FF;
    font-family: Playfair,monospace; 
}
#timeContainer{
    text-align:center;
    border: 3px solid;
    border-radius:25px;
    background-color: #222222;
    width: 500px;
    color:#CBCE91FF
    
}
#score{
    text-align:center;
    font-size: 30px;
    color: #CBCE91FF;
    font-family: Playfair,monospace;
}
#scoreContainer{
    text-align:center;
    border: 3px solid;
    border-radius:25px;
    background-color: #222222;

}


 .startBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: #CBCE91FF;
    cursor: pointer;
    font-family: consolas,monospace; 
    margin-top: 50px;
    box-shadow: 3px  3px 10px #CBCE91FF;
    
    
}
#heading{
   
    margin: auto;
    
}
#gameContainer{
    text-align:center;
    border: 3px solid;
    border-radius:25px;
    height: 800px;
    width: 500px;
    font-family: Playfair,monospace;
    background-color: rgba(0,0,0,.9);
    color:#CBCE91FF
    
   
}
#actualScore{
    text-align:center;
    font-size: 30px;
    color: #CBCE91FF;
    font-family: Playfair,monospace
}
.howtoPlay{
    width: 150px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: #CBCE91FF;
    cursor: pointer;
    font-family: consolas,monospace; 
    margin-top: 50px;
    box-shadow: 3px  3px 10px #CBCE91FF;
    
}
#a
{
    box-shadow: -5px -5px 10px #CBCE91FF;
    border-radius: 25px 00px 00px;
}
#f{
    box-shadow: -5px 0px 10px  #CBCE91FF;
}
#k{
    box-shadow: -5px 0px 10px #CBCE91FF;
}
#p{
    box-shadow: -5px 0px 10px #CBCE91FF;
}
#u
{
    box-shadow: -5px 5px 10px  #CBCE91FF;
    border-radius: 00px 00px 00px 25px;

}
#v
{
    box-shadow: 0px 5px 10px  #CBCE91FF;
}
#w
{
    box-shadow: 0px 5px 10px  #CBCE91FF;
}
#x
{
    box-shadow: 0px 5px 10px  #CBCE91FF;
}
#y
{
    box-shadow: 5px 5px 10px  #CBCE91FF;
    border-radius: 00px 00px 25px 00px;
}

#e{
    box-shadow: 5px -5px 10px  #CBCE91FF;
    border-radius: 00px 25px 00px 00px;
}
#j{
    box-shadow: 5px 0px 10px  #CBCE91FF;
}
#o{
    box-shadow: 5px 0px 10px  #CBCE91FF;
}
#t{
    box-shadow: 5px 0px 10px  #CBCE91FF;
}
#b{
    box-shadow: 0px -5px 10px  #CBCE91FF;

}
#c{
    box-shadow: 0px -5px 10px  #CBCE91FF;

}
#d{
    box-shadow: 0px -5px 10px  #CBCE91FF;

}
